@inject IBookRepository _IBookRepository

@{
    ViewData["Title"] = "Home Page";
    dynamic data = ViewBag.Data;
}

<section class="jumbotron text-center">
    <div class="container">
        <h1>@ViewBag.Title</h1>
        <environment include="Development">
            <h2>Development</h2>
        </environment>

        <environment exclude="Development">
            <h2>Production</h2>


        </environment>


        <big>Mahesh Pattanayak - using Tag</big>
        <p big>Mahesh Pattanayak - using Attributes</p>

        <p class="lead text-muted">
            @*@data.Id, @data.Name*@
            sdfsdlfls sdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlflssdfsdlfls

            @*<table>
                    <tr>
                        <td>Id</td>
                        <td>@ViewBag.Type.Id</td>
                    </tr>
                    <tr>
                        <td>Title</td>
                        <td>@ViewBag.Type.Title</td>
                    </tr>
                    <tr>
                        <td>Author</td>
                        <td>@ViewBag.Type.Author</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>@ViewBag.Type.Description</td>
                    </tr>
                </table>*@
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search books</a>
        </p>

        @foreach (var item in await _IBookRepository.GetAllBooks())
        {
            <h2>@item.Title</h2>
        }


    </div>

</section>


<div class="py-5 bg-light">
    <div class="container">
        @await Component.InvokeAsync("TopBooks", new { count = 3 })
        @*<vc:top-books count="2"></vc:top-books>*@
    </div>

</div>

@section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Page 1</a></li>
            <li class="breadcrumb-item-active"><a href="#" aria-current="page">Page 2</a></li>
        </ol>
    </nav>

}

@section scripts {

    <script>
        $(document).ready(function () {
            //alert('document is ready');
        });
    </script>

}
